<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
    <div>
        <h3>Playlist:</h3>
    </div>
    <div id="playlistTable"></div>
    <div></div>
    <div class="container">
        <div class="wrapper">
            Enter Song Title: <input type="text" id="song" />
            <button id="submit_button"  style="margin-bottom: 50px;">Submit</button>
        </div>
        <div id="songTitle"></div>
    </div>
    <div id="SongsTable"></div>

    <script src="js/button.js"></script>
    <script src="js/table.js"></script>
    <script src="js/script.js"></script>

</body>

</html>
